<div class="container">
    <table class="table table-striped table-hover">
      <th> Quantity </th>
      <th> Order ID </th>
      <th> Subtotal </th>
      <th> Tax </th>
      <th> Total </th>

  
      <tr>
         <td> <%= @order.quantity %></td>
         <td> <%= @order.id %></td>
         <td> <%= @order.subtotal %></td>
         <td> <%= @order.tax %></td>
         <td> <%= @order.total %></td>
      </tr>
  
