  <div class="container">
    <table class="table table-striped table-hover">
      <th> Name </th>
      <th> Price </th>
      <th> Image </th>
      <th> Description </th>

      <tr>
        <td> <%= @ski.name %> </td>
        <td> $<%= @ski.price %> </td>
        <td> <img src="<%= @ski.image %>"/></td>
        <td>  <%= @ski.description %> </td>
      </tr>
    
    </table>
  </div>

  <a href=<%="/skis/#{@ski.id}/edit"%>> Edit Product </a>
  <a href="/skis"> Click to go back to homepage!</a>