  <div class="container">
    <table class="table table-striped table-hover">
      <th> Name </th>
      <th> Price </th>
      <th></th>
      <th> Image </th>
      <th> Description </th>
      <th> Supplier </th>
      <th> Tax </th>
      <th> Total </th>

      <tr>
        <td> <%= @ski.name %> </td>
        <% if @ski.discounted? %>
        <td class="discount-item"> <%= number_to_currency(@ski.price) %></td>
              <td>Discount Item!</td>
            <% else %>
              <td> <%= number_to_currency(@ski.price) %></td>
              <td>Everyday Value!</td>
        <% end %>

        <td> <img src="<%= @ski.image %>"/></td>
        <td>  <%= @ski.description %> </td>
        <td> <%= @ski.supplier.name %> </td>
        <td> $<%= @ski.tax %> </td>
        <td> $<%= @ski.total %></td>
      </tr>
    
    </table>
  </div>

  <div class="text-center">
    <a href=<%="/skis/#{@ski.id}/edit"%>> Edit Product </a>
  </div>

  <div class="text-center">
    <a href="/skis"> Click to go back to homepage!</a>
  </div>
  
  <div class="text-center">
    <%= link_to "Delete this product", "/skis/#{@ski.id}", method: :delete %>
  </div>
